# CONFIGURACIÓN DE BASES DE DATOS

# SQL Server
SQL_DATABASE=SIGD_Central
SQL_SA_PASSWORD=contraseña_segura_sql
APP_DB_USER=sa
APP_DB_PASSWORD=contraseña_segura_sql

# PostgreSQL
PG_USER=usuario_postgre
PG_PASSWORD=contraseña_postgre
PG_DATABASE=nombre_base_datos_postgre

# MongoDB
MONGO_USERNAME=usuario_mongo
MONGO_PASSWORD=contraseña_mongo

# Clave API de Sincronización entre módulos (Central <-> Reportes)
SYNC_API_KEY=clave_secreta_sincronizacion